body {
    margin: 0;
    padding: 0;
    background: #FFFFFF;
    font-family: 'ABeeZee', sans-serif;
      

}
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; /* Đặt nền phía sau auth-card */
}
.login-container {
    height: 702px;
        background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    position: relative;
    margin: 0 auto;
}


.login-box {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    border-radius: 12px;
    padding: 20px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.login-title {
     display: flex;
    font-size: 25px;
    font-weight: 400;
    color: #153060;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
        display: flex
;
    flex-direction: row;
    justify-content: center;



}
.login_content{
        display: flex
;
    flex-direction: row;
    gap: 15px;
}
.login-subtitle {
    font-size: 23px;
    font-weight: 700;
    color: #231F20;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
        display: flex
;
    flex-direction: row;
    justify-content: center;
}

.input-label {
    font-size: 16px;
    color: #153060;
    margin-bottom: 4px;
}

.input-field {
    width: 95%;
    padding: 16px 12px;
    background: #FAFAFA;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    font-size: 18px;
    color: #828282;
}

.remember-me {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: #1E1E1E;
    margin-top: 16px;
}

.login-button {
    background: #243874;
    color: white;
    padding: 18px 32px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    letter-spacing: 0.1px;
    cursor: pointer;
    width: 100%;
}
.form_login{
    display: flex
;
    flex-direction: column;
    gap: 15px;
}
.google{
        display: flex
;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:10px
}